body{
    font-family: Arial, sans-serif;
    background-color: #ac7d7d;
}
.container{
    max-width: 500px;
    margin: 100px auto;
}
h2{
    text-align: center;
    text-decoration: underline;
}
.calculator{
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px 40px;
}
.input-group{
    margin-bottom: 15px;
}
.input-group label{
    display: block;
    margin-bottom: 5px;
}
.input-group input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}
button{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #4caf50;
    cursor: pointer;
}
#result{
    margin-top: 20px;
    padding: 10px;
    background-color: #cdffff;
    border: 1px solid #ccc;
    border-radius: 4px;
}